*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	--bgclr: #000;
	--bgstart: rgba(100, 0, 0, 0.100);
	--bgfinish: rgba(255, 0, 0, 0);
	--duration: 3s;
}

body {
	padding: 0;
	margin: 0;
}

#progressbar {
	position: relative;
	width: 500px;
	height: 3em;
    background-color: var(--bgclr);
	border-radius: 1.5em;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

#progressbar::before {
	content: attr(data-percent);
	display: flex;
    align-items: center;
	position: absolute;
	left: .5em;
	top: .5em;
	bottom: .5em;
	width: calc(var(--width, 0) * 1%);
	min-width: 2rem;
	max-width: calc(100% - 1em);
	border-radius: 1em;
	padding: 1em;
	animation-name: clr;
	background-color: var(--bgfinish);
	animation-duration: var(--duration);
}

@keyframes clr {
	from {
		background-color: var(--bgstart);
	}
	to {
		background-color: var(--bgfinish);
	}
}
